<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <p><a href="#">CarFinder</a></p>
            </div>
            <div class="col-sm-4">
                <input type="text" placeholder="Nhập thông tin tìm kiếm" >
            </div>
            <div class="col-sm-1">
                <button class="btn-search" type="submit">T</button>
            </div>
            <div class="col-sm-2">
                <center><img src="#"></center>
                <p>UserName</p>
            </div>
            <div class="col-sm-1">
                <p><a>Đăng nhập</a></p>
            </div>
            <div class="col-sm-1">
                <p><a>Đăng xuất</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-1">

            </div>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-2">

            </div>

        </div>

        <div class="row">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-9">
                {% block content %}{% endblock %}
            </div>

        </div>
     </div>
</body>
</html>