<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="card mt-4">
            <div class="card-body">
                <form method="post">
                    <div class="form-group">
{#                        <label for="exampleInputEmail1">User Name</label>#}
{#                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">#}
{#                        <br>#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <label for="exampleInputPassword1">Password</label>#}
{#                        <input type="password" class="form-control" id="exampleInputPassword1">#}
{#                    </div>#}
{#                    <br>#}
{#                    <div class="form-group form-check">#}
{#                        <input type="checkbox" class="form-check-input" id="exampleCheck1">#}
{#                        <label class="form-check-label" for="exampleCheck1">Check me out</label>#}
{#                    </div>#}
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Đăng Nhập</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>